
.navbar{
    display: flex;
    align-items: center;
background-color: black;
color: white;
position: sticky;
top: 0;

}

.navbar img{
width: 20%;

}


ul {
width: 70%;
display: flex;
justify-content: space-between;
align-items: center;
}

ul>li>a{
color: white !important;

}


ul>li>div{
background-color: red;
padding: 10px;
border-radius: 10px;
}


.header{
width: 100%;
background-color: black;
padding: 10px;
}

/* this is the card section */

.cards-sec h2{
text-align: center;
color: white;
}
.cards-sec{
background-color: black;


}

.card-container{

    display: flex;
justify-content: center;
gap: 10px;

}


.card{
width: 14%;
background-color: black;

}

.card img{
height: 300px;
object-fit: cover;

}

.card h5{
color: white;
text-align: center;
}


/* this is third section  */
.third-section{
display: flex;


}

.third{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.9);
}

.third img{
width: 100%;
object-fit: cover;

}
.third-right{
width: 60%;
color: white;


}

.third-right h4{
color: red;
font-size: 20px;
letter-spacing: 5px;

}

.third-right button{
padding: 10px;
color: white;
background-color: rgba(0, 0, 0, 0.9);
border-radius: 20px;

i{
color: white;


}


}


/* this is the fivth section */

.fivth{
text-align: center;
background-color: black;
color: white;


}

.fivth-card{
width: 25%;
text-align: center;

}
.fivth-card h5{
background-color: red;
margin: 0px 170px;

}

.fivth-card img{
    width: 100%;
object-fit: cover;


}


.uper-section{
display: flex;
justify-content: center;
gap: 20px;
align-items: center;

}

.lower-section{
display: flex;
justify-content: center;
gap: 20px;
align-items: center;
}


/* this is the sixth section */


.sixth{
display: flex;
justify-content: space-around;
align-items: center;
background-color: rgba(0, 0, 0, 0.9);
color: white;
}


.sixth-left{
width: 40%;


}

.sixth-left h4{
color: red;
letter-spacing: 10px;


}

.sixth-right{
width: 40%;


}

.sixth-right>img{
width: 100%;
object-fit: cover;


}

/* this is the footer section */

.footer{
display: flex;
justify-content: space-evenly;
align-items: flex-start;
background-color: rgba(0, 0, 0, 0.9);
color: white;
padding-top: 40px;

}

.footer h5{
font-size: 15px;


}


.empty{
width: 100%;
background-color: black;
padding: 50px;

}


/* this is the media query section */

@media screen and (max-width:600px){


.navbar{
    display: flex;
    /* align-items: center; */
    justify-content: center;
background-color: black;
color: white;
position: sticky;
top: 0;

}

.navbar img{
width: 20%;



 }



ul {
width: 70%;
display: flex;
flex-direction: column;
/* justify-content: space-between;
align-items: center; */
}

ul>li>a{
color: white !important;

}


ul>li>div{
background-color: red;
padding: 10px;
border-radius: 10px;
}


.header{
width: 100%;
background-color: black;
padding: 10px;
}

/* this is the card section */

.cards-sec h2{
text-align: center;
color: white;
}
.cards-sec{
background-color: black;


}

.card-container{

    display: flex;
    flex-direction: column;
/* justify-content: center;
gap: 10px; */

}


.card{
width: 100%;
background-color: black;

}

.card img{
/* height: 300px; */
object-fit: cover;

}

.card h5{
color: white;
text-align: center;
}


/* this is third section  */
.third-section{
display: flex;
flex-direction: column;


}

.third{
width: 100%;
display: flex;
flex-direction: column;
/* justify-content: center;
align-items: center; */
background-color: rgba(0, 0, 0, 0.9);
}

.third img{
width: 100%;
object-fit: cover;

}
.third-right{
width: 80%;
color: white;


}

.third-right h4{
color: red;
font-size: 20px;
letter-spacing: 5px;

}

.third-right button{
padding: 10px;
color: white;
background-color: rgba(0, 0, 0, 0.9);
border-radius: 20px;

i{
color: white;


}


}


/* this is the fivth section */

.fivth{
text-align: center;
background-color: black;
color: white;


}

.fivth-card{
width: 100%;
text-align: center;

}
.fivth-card h5{
background-color: red;
margin: 0px 170px;

}

.fivth-card img{
    width: 100%;
object-fit: cover;


}


.uper-section{
display: flex;
flex-direction: column;
/* justify-content: center;
gap: 20px;
align-items: center; */

}

.lower-section{
display: flex;
flex-direction: column;
/* justify-content: center;
gap: 20px;
align-items: center; */
}


/* this is the sixth section */


.sixth{
display: flex;
flex-direction: column;
/* justify-content: space-around;
align-items: center; */
background-color: rgba(0, 0, 0, 0.9);
color: white;
}


.sixth-left{
width: 90%;


}

.sixth-left h4{
color: red;
letter-spacing: 10px;


}

.sixth-right{
width: 95%;


}

.sixth-right>img{
width: 100%;
object-fit: cover;


}

/* this is the footer section */

.footer{
display: flex;
flex-direction: column;
/* justify-content: space-evenly;
align-items: flex-start; */
background-color: rgba(0, 0, 0, 0.9);
color: white;
padding-top: 40px;
padding: 20px;

}

.footer h5{
font-size: 10px;


}


.empty{
width: 100%;
background-color: black;
padding: 20px;

}








}