* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.812);


}

.main-container {
    width: 70%;

}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

input {
    padding: 5px;


}

button {
    padding: 5px;
    background-color: white;
}

/* this is the second part  */

.second {
    width: 100%;
    height: 500px;
    background-image: url("https://img.freepik.com/premium-photo/old-vintage-alarm-clock-wooden-table-with-dust-settling-background-sunlight_420001-3111.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    h1,
    p {
        padding: 10px;

    }


}

/* This is the third part of the container  */

.third {
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

}


.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0px;



}

.cards {
    width: 30%;
    text-align: center;
    box-shadow: 0 0 10px 10px whitesmoke;

}

.cards>img {
    width: 100%;


}

/* This is the fourth container  */

.fourth {
    width: 100%;
    height: 400px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        padding: 15px 0px;

    }


}


.comment-card {
    width: 25%;
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 20px 20px black;

}

.comment-container {
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    gap: 10px;

}

.comment-text {
    background-color: white;
    padding: 30px;
    width: 25%;
    border-radius: 25px;
    box-shadow: 20px 20px black;
    text-align: center;

    button {
        padding: 10px;
        width: 90px;
        border-radius: 20px;
        background-color: aliceblue;
        border: 1px solid black;
        font-weight: bold;
    }

}

.abc {
    text-align: center;
    padding: 10px;

    button {
        padding: 10px;
        border-radius: 20px;
        background-color: white;
        border: none;
    }

}

/* This is the fivth section  */


.fivth {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    button {
        margin: 20px;
        background-color: white;
        padding: 10px;
        width: 90px;
        border-radius: 20px;

    }

}


/* This is the footer section in the project*/


.footer {
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;


    input {
        width: 250px;

    }

    button {
        background-color: black;
        color: white;

    }



}

.last {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}


/* this is the media query section  */

@media screen and (max-width:768px) {




    body {
       
        background-color: rgba(0, 0, 0, 0.812);


    }

    .main-container {
        width: 100%;

    }

    .navbar {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    input {
        padding: 5px;


    }

    button {
        padding: 5px;
        background-color: white;
    }

    /* this is the second part  */

    .second {
        width: 100%;
        height: auto;
        background-image: url("https://img.freepik.com/premium-photo/old-vintage-alarm-clock-wooden-table-with-dust-settling-background-sunlight_420001-3111.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;

        h1,
        p {
            padding: 10px;

        }


    }

    /* This is the third part of the container  */

    .third {
        width: 100%;
        height:auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

    }


    .card-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0px;



    }

    .cards {
        width: 90%;
        padding: 10px;
        margin: 10px;
        text-align: center;
        box-shadow: 0 0 10px 10px whitesmoke;

    }

    .cards>img {
        width: 100%;
        object-fit: cover;


    }

    /* This is the fourth container  */

    .fourth {
        width: 100%;
        height: auto;
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;

        h1 {
            text-align: center;
            padding: 15px 0px;

        }


    }


    .comment-card {
        width: 80%;
        background-color: white;
        padding: 30px;
        border-radius: 25px;
        box-shadow: 20px 20px black;

    }

    .comment-container {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 20px;

    }

    .comment-text {
        background-color: white;
        padding: 20px;
        width: 80%;
        border-radius: 25px;
        box-shadow: 2px 2px black;
        text-align: center;

        button {
            padding: 10px;
            width: 50%;
            border-radius: 10px;
            background-color: aliceblue;
            border: 1px solid black;
            font-weight: bold;
        }

    }

    .abc {
        text-align: center;
        padding: 10px;

        button {
            padding: 10px;
            border-radius: 20px;
            background-color: white;
            border: none;
        }

    }

    /* This is the fivth section  */


    .fivth {
        font-size: small;
        width: 100%;
        height: auto;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        button {
            margin: 20px;
            background-color: white;
            padding: 10px;
            width: 50%;
            border-radius: 20px;

        }

    }


    /* This is the footer section in the project*/


    .footer {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        display: flex;
        flex-direction: column;
       text-align: center;
     


        input {
            width: 70%;

        }

        button {
            background-color: black;
            color: white;

        }



    }

    .last {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;

    }


}