* {
    margin: 0;
    padding: 0;

}

/* This section contain the header section  */

header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 50px;



}

.left-header {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}


.header-1,
.header-2,
.header-3 {
    display: flex;
    align-items: center;
}


/* This is the navbar section  */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    padding: 5px 0px;
    position: sticky;
    top: 0px;


}

.left-nav>img {
    width: 12%;
    object-fit: cover;
}

.left-nav {
    display: flex;
    align-items: center;

}

.left-nav div h2 {
    color: blue;


}

.right-nav {
    display: flex;
    gap: 20px;

}

.right-nav>div {
    display: flex;
    align-items: center;


}

.right-nav>button {
    width: 90px;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

/* this is the second section  */


.section {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right, white, rgba(0, 0, 255, 0.566));
    align-items: center;
    padding: 70px 0px;
    font-family: Arial, Helvetica, sans-serif;


}

.right-sec img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 350px;
    border: 5px groove blue;


}

.left-sec h1 b {
    font-size: 60px;
    color: black;


}

.left-sec h1 u {
    font-size: 60px;
    color: blue;
    text-decoration: none;

}

.left-sec p {
    font-size: large;
    line-height: 30px;
    word-spacing: 15px;

}

.left-sec button {
    padding: 12px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;

}

/* This is the third section  */

.third {
    text-align: center;
    padding: 70px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;

}

.third>p {
    font-size: 30px;

}

.third>h1 b {
    font-size: 50px;



}

.third>h1 u {
    color: blue;
    font-size: 50px;
    text-decoration: none;

}




.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0px;
}



.card {
    width: 20%;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px whitesmoke;
    background-color: white;
    color: black;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;

}

.card>h1 {
    background-color: aqua;
    width: 20%;
    padding: 10px;
    text-align: center;
    color: blue;
    font-weight: bolder;
    border-radius: 10px;


}

.card>h2 {
    padding: 20px 0px;
    font-size: 40px;
    color: black;
}

.card>p {
    padding: 20px 0px;
    font-size: larger;

}

.card>button {
    color: blue;
    background-color: white;
    border: none;
    font-size: larger;

}

.card:hover {
    border: 3px solid green;

}

.third>button {
    background-color: blue;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.card>img {
    color: red;


}

/* This is the fourth section  */

.fourth {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, white, rgba(6, 6, 221, 0.32));


}

.fourth>p {
    padding: 50px 0px 0px 0px;
    color: black;

}

.fourth>h1 {
    font-size: 50px;
    color: black;
}

.fourth>h1 u {
    color: blue;
    text-decoration: none;


}


.fourth>button {
    background-color: blue;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}



.baoul-display {
    display: flex;
    justify-content: center;
    align-items: center;

}






.baoul-1,
.baoul-2,
.baoul-3 {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 40%;


}

.baoul>i {
    font-size: 50px;
    
}

.baoul-1>i {
    color: blue;

}

.baoul-2>i {
    color: green;

}

.baoul-3>i {
    color: purple;

}

.card-forth {
    width: 20%;
    background-color: white;
    box-shadow: 0 0 5px whitesmoke;

}

.card-forth img {
    width: 100%;

}

/* This is the section containing the fivfth section  */

.fivth {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: linear-gradient(to right, white, rgb(157, 157, 229));

}


.fivth>div p {
    font-size: 20px;
    padding: 15px 0px;


}

.fivth>div h1 {
    font-size: 40px;
    color: black;

}

.quotes h3 {
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    margin: 0px 400px;
    padding: 15px;
}

.quotes>p {
    background-color: rgb(74, 74, 207);
    color: white;
    margin: 0px 400px;

}

.quotes>p:hover {
    border: 3px solid white;
    background-color: blue;


}

.quotes>h3:hover {
    text-decoration: underline;

}


/* This is the sixth part of the css  */


.sixth {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, white, rgb(155, 155, 219));
  
}

.sixth-h {
    text-align: center;


    h3 {
        font-size: 30px;
        color: blue;

    }

    h2 {
        font-size: 40px;
        color: black;
    }

    h2>u {
        color: blue;
        text-decoration: none;

    }

}

.sixth-h {
    padding: 30px 0px;


}


.sixth-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

}


.sixth-left {
    width: 30%;


}

.sixth-left>i {
    color: goldenrod;


}


.sixth-right {
    width: 30%;


}

.sixth-right>h1 u {
    color: blue;
    text-decoration: none;


}

.percent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.percent div h4 {
    color: blue;
    font-size: 40px;


}

.percent div h3 {
    color: green;
    font-size: 50px;

}

.thousands {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.thousands div h5 {
    color: purple;
    font-size: 30px;


}

.thousands div h4 {
    color: orangered;
    font-size: 40px;


}



/* this is the seventh section  */

.footer {
    display: flex;
    justify-content: space-evenly;
padding: 50px 0px;
background-color: black;
color: white;
font-family: Arial, Helvetica, sans-serif;
p{
color: antiquewhite;

}

}

.footer-1 {
    width: 20%;
}

.footer-1>i{
font-size: 30px;
margin: 20px 5px;
}


.footer-1>img {
    width: 20%;



}







@media screen and (max-width:700px) {

body{
padding: 10px;


}

    /* This section contain the header section  */

    header {
        display: flex;
        flex-direction: column;
        background-color: blue;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;



    }

    .left-header {
        display: flex;
        flex-direction: column;

    }


    .header-1,
    .header-2,
    .header-3 {
        display: flex;


    }


    /* This is the navbar section  */

    .navbar {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        color: black;
        position: sticky;
        top: 0px;


    }

    .left-nav>img {
        width: 20%;
        object-fit: cover;
    }

    .left-nav {
        display: flex;
        align-items: center;

    }

    .left-nav div h2 {
        color: blue;


    }

    .right-nav {
        display: flex;
        flex-direction: column;

    }

    .right-nav>div {
        display: flex;
        align-items: center;


    }

    .right-nav>button {
        width: 90px;
        padding: 10px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        border: none;
        font-weight: bold;
    }



    /* this is the second section  */


    .section {
        display: flex;
        flex-direction: column-reverse;
        background: linear-gradient(to right, white, rgba(0, 0, 255, 0.566));


        font-family: Arial, Helvetica, sans-serif;


    }

    .right-sec img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 350px;
        border: 5px groove blue;


    }

    .left-sec h1 b {
        font-size: 30px;
        color: black;


    }

    .left-sec h1 u {
        font-size: 30px;
        color: blue;
        text-decoration: none;

    }

    .left-sec p {
        font-size: large;
        line-height: 20px;
        word-spacing: 10px;

    }

    .left-sec button {
        padding: 10px;
        background-color: blue;
        color: white;
        border-radius: 8px;
        font-weight: bold;
        border: none;

    }


    /* This is the third section  */

    .third {
        text-align: center;
        padding: 70px 0px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: aliceblue;
        padding: 15px;


    }

    .third>p {
        font-size: 20px;

    }

    .third>h1 b {
        font-size: 30px;



    }

    .third>h1 u {
        color: blue;
        font-size: 30px;
        text-decoration: none;

    }




    .card-container {
        display: flex;
        flex-direction: column;
   

    }



    .card {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 5px 5px whitesmoke;
        background-color: white;
        color: black;
        padding: 20px 10px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .card>h1 {
        background-color: aqua;
        width: 15%;
        padding: 5px;
        text-align: center;
        color: blue;
        border-radius: 10px;
font-size: medium;

    }

    .card>h2 {
        padding: 20px 0px;
        font-size: 20px;
        color: black;
    }

    .card>p {
        padding: 20px 0px;
        font-size: small;

    }

    .card>button {
        color: blue;
        background-color: white;
        border: none;
        font-size: medium;

    }

    .card:hover {
        border: 3px solid green;

    }

    .third>button {
        background-color: blue;
        color: white;
        padding: 10px;
        font-weight: bold;
        border-radius: 10px;
    }

    .card>img {
        color: red;


    }



    /* This is the fourth section  */

    .fourth {
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(to right, white, rgba(6, 6, 221, 0.32));


    }

    .fourth>p {
        padding: 30px 0px 0px 0px;
        color: black;

    }

    .fourth>h1 {
        font-size: 30px;
        color: black;
    }

    .fourth>h1 u {
        color: blue;
        text-decoration: none;


    }


    .fourth>button {
        background-color: blue;
        color: white;
        padding: 10px;
        font-weight: bold;
        border-radius: 8px;
        border: none;
    }



    .baoul-display {
        display: flex;
        flex-direction: column;

    }






    .baoul-1,
    .baoul-2,
    .baoul-3 {
        display: flex;

        gap: 10px;
        padding: 10px;
        width: 90%;


    }

    .baoul>i {
        font-size: 40px;
    }

    .baoul-1>i {
        color: blue;

    }

    .baoul-2>i {
        color: green;

    }

    .baoul-3>i {
        color: purple;

    }

    .card-forth {
        width: 90%;
        background-color: white;
        box-shadow: 0 0 5px whitesmoke;

    }

    .card-forth img {
        width: 100%;

    }



    /* This is the section containing the fivfth section  */

    .fivth {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: white;
        background: linear-gradient(to right, white, rgb(157, 157, 229));

    }


    .fivth>div p {
        font-size: 20px;
        padding: 15px 0px;


    }

    .fivth>div h1 {
        font-size: 40px;
        color: black;

    }

    .quotes h3 {
        background-color: aqua;
        color: black;
        text-align: center;
        font-size: 20px;
        margin: 0;

        padding: 15px;
    }

    .quotes>p {
        background-color: rgb(74, 74, 207);
        color: white;
        margin: 0px;

    }

    .quotes>p:hover {
        border: 3px solid white;
        background-color: blue;


    }

    .quotes>h3:hover {
        text-decoration: underline;

    }


    /* This is the sixth part of the css  */


    .sixth {
        font-family: Arial, Helvetica, sans-serif;
        /* padding: 20px 0px; */
        font-family: Arial, Helvetica, sans-serif;
    }

    .sixth-h {
        text-align: center;


        h3 {
            font-size: 30px;
            color: blue;

        }

        h2 {
            font-size: 40px;
            color: black;
        }

        h2>u {
            color: blue;
            text-decoration: none;

        }

    }

    .sixth-h {
        padding: 30px 0px;


    }


    .sixth-container {
        display: flex;
        flex-direction: column;


    }


    .sixth-left {
        width: 90%;


    }

    .sixth-left>i {
        color: goldenrod;


    }


    .sixth-right {
        width: 90%;


    }

    .sixth-right>h1 u {
        color: blue;
        text-decoration: none;


    }

    .percent {
        display: flex;
        flex-direction: column;

    }

    .percent div h4 {
        color: blue;
        font-size: 30px;


    }

    .percent div h3 {
        color: green;
        font-size: 30px;

    }

    .thousands {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .thousands div h5 {
        color: purple;
        font-size: 30px;


    }

    .thousands div h4 {
        color: orangered;
        font-size: 30px;


    }

    /* This is the footer section  */


.footer {
    display: flex;
flex-direction: column;
padding: 30px 20px;
background-color: rgba(0, 0, 0, 0.9);
color: white;
font-family: Arial, Helvetica, sans-serif;

p{
color: blue;
font-size: small;

}

}

.footer-1 {
    width: 100%;
}

.footer-1>i{
font-size: 30px;
margin: 10px 3px;
}


.footer-1>img {
    width: 30%;



}




}