*{
margin: 0;
padding: 0;
}


.navbar{
background-color: rgb(36, 35, 35);
color: white;
display: flex;
justify-content: space-around;
padding: 20px;
align-items: center;
font-size: x-large;
font-family: Arial, Helvetica, sans-serif;
position: fixed;
width: 100%;

}

.nav-2{
display: flex;
width: 50%;
justify-content: space-around;
align-items: center;

}

/* This is the central section in the css */

.section{
    background-color: whitesmoke;
display: flex;
justify-content: center;
gap: 50px;
padding: 20px;
align-items: center;
}

.sec-1{
width: 40%;
padding: 20px;
font-size: large;
button{
background-color: rgb(235, 235, 24);
color: white;
padding: 8px;
border-radius: 10px;
border: none;


}

}

.sec-1>h2{
margin-top: 50px;





}

.sec-2{
width: 40%;
display: flex;
justify-content: center;



}

.sec-2>img{
width: 90%;
object-fit: cover;

}

/* This is the card section  */

.card-section{
h1{
margin: 20px 220px;
font-family: Arial, Helvetica, sans-serif;

}



}

.card-container{
display: flex;
justify-content: center;
gap: 80px;
padding: 0px 0px 40px 0px;

}


.card{
width: 20%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

button{
padding: 8px;
background-color: rgb(235, 235, 24);
border-radius: 8px;
color: white;
border:none;
}


}

.card-image{
background-color: black;
width: 100%;
height: 210px;

}

/* This is the foooter section  */

.footer{
display: flex;
justify-content: space-around;
/* align-items: center; */
font-family: Arial, Helvetica, sans-serif;
background-color: black;
color: white;

}

.footer-1{
display: flex;
gap: 10px;
align-items: center;

}

.footer-1>img{
width: 40px;
border-radius: 50px;

}

.footer-2{
font-family: Arial, Helvetica, sans-serif;
display: flex;
gap: 10px;
align-items: center;

}

.footer-2>img{
width: 50px;


}

.footer-3{
width: 30%;



}




/* This is the media query section contain the responsive part of the website  */


@media screen and (max-width:650px){

body{
background-color: black;
color: white;

}

.navbar{
background-color: rgb(36, 35, 35);
color: white;
display: flex;
justify-content: center;
flex-direction: column;
padding: 20px;
align-items: center;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
position: fixed;
width: 100%;

}

.nav-2{
display: flex;
flex-direction: column;
/* justify-content: space-around; */
align-items: center;
}


.section{
    background-color: whitesmoke;
    color: black;
display: flex;
justify-content: center;
flex-direction: column;
text-align: justify;
/* align-items: center; */
}

.sec-1{
width: 95%;
font-size: large;

button{
background-color: rgb(235, 235, 24);
color: white;
border-radius: 10px;
border: none;
}


}

.sec-1>h2{
margin-top: 200px;

    
}

.sec-2{
width: 95%;
display: flex;



}

.sec-2>img{
width: 100%;
object-fit: cover;

}


.card-section{
    display: flex;
    flex-direction: column;
h1{
    width: 100%;
    margin: 10px 0px;
    font-size: 20px;
font-family: Arial, Helvetica, sans-serif;

}



}

.card-container{
display: flex;
justify-content: center;
flex-direction: column;



}


.card{
width: 90%;
text-align: justify;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 20px;

button{
padding: 8px;
background-color: rgb(235, 235, 24);
border-radius: 8px;
color: white;
border:none;
}


}

.card-image{
background-color:white;
width: 100%;
/* height: 100px; */

}



.footer{
display: flex;
flex-direction: column;
font-family: Arial, Helvetica, sans-serif;
background-color: black;
color: white;

}

.footer-1{
display: flex;
gap: 10px;
align-items: center;

}

.footer-1>img{
width: 40px;
border-radius: 50px;

}

.footer-2{
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: flex-start;


}

.footer-2>img{
width: 50px;


}

.footer-3{
width: 90%;



}




}

















